.container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}



.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}



.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}



.square:hover {
  background-color: black;
  cursor: pointer;
}

.menu           {
            background-color:#FFFFFF;
            border-bottom-width:2px;
            border-bottom-color:#000000;
            border-bottom-style: solid;
            position: relative;
            top:-15px;
            text-align:center;
            font-family:Andalus;
            font-size:18px;
            padding-left:1em;
            padding-right:1em;
            overflow:hidden;
            }

.menu h1        {
            float:left;
            color: 'Roboto', sans-serif;;
            font-family:andalus;
            font-size:24;
            }

  .menu:hover{
    background-color: yellow;
    cursor: crosshair;;
}

.main           {
            width:65%;
            margin:0 auto;
            background-color:#FFFFFF;
            text-align:center;
            font-family:andalus;
            font-size:24px;
            padding-top:1px;
            }

.footer         {
            text-align:centre;
            background-color:#C8C8C8;
            color:#000000;
            font-family:andalus;
            margin-bottom:-1em;
            }

#footer li      {
            display:inline-block;
            padding-right:8em;
            vertical-align:middle;
            margin-top: -30px;
            }


#nav            {
            padding-top:15px;
            }

#nav a          {
            text-decoration:none;
            }

#nav a:link     {
            color:black;
            }

#nav a:visited  {
            color:black;
            }

#nav a:hover    {
            color:blue;
            }

img             {
            margin:42px;
            }

#nav ul         {
            display:inline-block;
            }


#nav li         {
            display:inline-block;
            margin-right:4.5em;
            padding-right:2.5em;
            }


}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  background-color: #DDD;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

#gameCanvas {
  margin: auto;
  border-radius: 10px;
}
